
	.table {
		border-collapse: collapse;
		width: 100%;
		text-align: center;
	}
	.table td {
		border: 1px solid #ccc;
		line-height: 2em;
	}
	.table tr.current {
		background-color: #ededed;
	}
	.none {
		display: none;
	}
	.btn {
		padding: .5em 1em;
		border-radius: 3px;
		color: #333;
		border:1px solid #ccc;
		cursor: pointer;
		display: inline-block;
	}
	.btns{
		margin-bottom: .5em;
		
	}
	.btns>div{
		background: teal;
	}
